body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.01rem;
  font-weight: 300;
  color: #1d1d20;
}

a {
  text-decoration: none;
  transition: all 0.175s;
  cursor: pointer;
}

p {
  font-size: 1.05rem;
  line-height: 1.75rem;
}

p a, p a:visited {
  color: #8058df;
  font-weight: bold;
  box-decoration-break: clone;
  position: relative;
  border-bottom: 1px solid #8058df
}

p a:hover:after, p a:visited:hover:after{
  background: #4967df;
  border-color: #4967df;
}

p a:hover {
  border-color: #4967df;
  color: #4967df;
}

span {
  color: #4967df;
  font-weight: bold;
}
img {
  max-width: 100%;
  margin: 0.25%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(56, 29, 56, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(56, 29, 56, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(56, 29, 56, 0.1);
}
p img{
  margin: 0%;
  vertical-align: middle;
}
h1 {
  color: #8058df;
  font-size: 2.5rem;
  letter-spacing: 0.05rem;
  font-weight: 300;
  margin: 0%;
}

h2 {
  color: #8058df;
  font-size: 1.75rem;
  letter-spacing: 0.05rem;
  font-weight: 300;
}

#nav, #content {
  display: inline-block;
}

#nav #title{
  padding: 7.5%;
}

#nav #title h1{
  font-size: 1.4rem;
}

#nav {
  z-index: 5;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 24%;
  height: 100%;
  overflow-y: auto;
}

#nav ul {
  padding: 0%;
  margin: 0%;
  list-style: none;
}

#nav li {
  padding: 6.5% 5% 6.5% 5%;
}

#nav a li:hover{
  color: #8058df;
}

#nav a li{
  transition: all 0.2s;
}

#nav a, #nav a:visited {
  color: black;
  font-weight: 300;
  position: relative;
}

#nav li.header {
  background-color: rgba(73, 103, 223, 0.1);
  color: #8058df!important;
  font-weight: 600;
  font-size: 1.15rem;
}

#nav li.header a:visited {
  color: white;
}
#nav li.credits{
  background: none;
}
#content {
  top: 5%;
  left: 27.5%;
  position: absolute;
  width: 64%;
}

#content div {
  padding-bottom: 2.5%;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 5%;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.35rem;
  }
  p {
    font-size: 0.9rem;
  }
  #nav li {
    padding: 7.5%;
    font-size: 0.95rem;
  }
  #nav li.header {
    font-size: 1rem;
  }
}

.table{
  width: 100%;
  border: 1px solid rgba(0,0,0, 0.2)!important;
  padding: 0%!important;
  margin: 0%!important;
}
.table .row{
  display: flex;
  flex-direction: row;
  margin: 0% !important;
  padding: 0% !important;
}

.table .row:last-child{
  border-bottom: none!important;
}

.table .row div{
  font-size: 1rem;
  padding: 2.5%;
  margin-bottom: 0% !important;
  border-bottom: none!important;
}

.table .row div:first-child{
  flex: 1
}
.table .row div:nth-child(2){
  flex: 1.5;
  color: rgba(0,0,0, 0.6);
  border-left: 1px solid rgba(0,0,0, 0.2);
}
.table .row div:last-child{
  flex: 1.5;
  border-left: 1px solid rgba(0,0,0, 0.2);
}

#commands .row div:first-child, #commands .row div:last-child{
  font-family: 'Courier New', Courier, monospace;
}

.note{
  border-bottom: none!important;
  box-sizing: border-box;
  padding: 2%;
  background-color: rgba(73, 103, 223, 0.1);
  border-radius: 4px;
  margin-bottom: 1%!important;
}

.note div{
  border-bottom: none!important;
  margin: 0%!important;
  padding-bottom: 1%!important;
}
.note div h2{
  margin: 0%;
  font-size: 1rem;
  color: #4967df;
}
.note p{
  color: #1d1d20;
  font-weight: 400;
  font-size: 0.9rem;
  margin: 0%;
}
.note p b{
  color: #4967df;
}
